<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>720844085651-jmc7vvv0mvva1tp7hoefsc0m08vuavnc.apps.googleusercontent.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.720844085651-jmc7vvv0mvva1tp7hoefsc0m08vuavnc</string>
			</array>
		</dict>

<dict>
            <key>CFBundleURLName</key>
            <string>YandexLoginSDK</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>yx<7b8b94d6684e4966b708c19fcf5df8cf></string>
            </array>
        </dict>

	</array>

<key>LSApplicationQueriesSchemes</key>
    <array>
        <string>yandexauth</string>
        <string>yandexauth2</string>
        <string>yandexauth4</string>
    </array>

	<key>GIDClientID</key>
	<string>720844085651-jmc7vvv0mvva1tp7hoefsc0m08vuavnc.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>applinks:yx{7b8b94d6684e4966b708c19fcf5df8cf}.oauth.yandex.ru</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
